<!DOCTYPE html>
<html lang="en">
  <!--header section-->
  <%- include('./partials/headers.ejs') %>
  <!--end header-->
  <body>
    <!--navbar section-->
    <%- include('./partials/nav.ejs') %>
    <!--end-->

    <!--Home section-->
    <section id="home" class="home-section">
      <div class="dark-overlay"></div>

      <div class="home-content">
        <h1>Welcome to Our School Website</h1>
        <p>Discover the excellence in education and innovation.</p>

        <h2>School Motto</h2>
        <p>"Inspiring Minds, Shaping Futures"</p>
      </div>

      <div class="bottom-border"></div>
    </section>
    <!--End of home section-->

    <!--About section-->
    <section id="about" class="about-section">
      <h2 style="text-align: center; margin-bottom: 16px">About Us</h2>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="about-image">
              <img
                src="/images/student1.jpg"
                alt="About Us Image"
                class="img-fluid"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="about-content">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut
                perspiciatis unde omnis iste natus error sit voluptatem
                accusantium doloremque laudantium.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--End of about-->

    <!--Feature section-->
    <section id="features" class="features-section">
      <h2 style="text-align: center; margin-bottom: 16px">Features</h2>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="feature-box">
              <img
                src="/images/administrative.jpg"
                alt="Feature 1"
                class="img-fluid"
              />
              <h3>Administrative</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut
                perspiciatis unde omnis iste natus error sit voluptatem
                accusantium doloremque laudantium.
              </p>
              <a href="/administrative" class="btn btn-primary">Learn More</a>
            </div>
          </div>

          <div class="col-md-4">
            <div class="feature-box">
              <img
                src="/images/communication.jpg"
                alt="Feature 2"
                class="img-fluid"
              />
              <h3>Communication</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut
                perspiciatis unde omnis iste natus error sit voluptatem
                accusantium doloremque laudantium.
              </p>
              <a href="/communication" class="btn btn-primary">Learn More</a>
            </div>
          </div>

          <div class="col-md-4">
            <div class="Learning management">
              <img
                src="/images/learning.jpg"
                alt="Feature 3"
                class="img-fluid"
              />
              <h3>Learning Management</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut
                perspiciatis unde omnis iste natus error sit voluptatem
                accusantium doloremque laudantium.
              </p>
              <a href="/learning" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--end of feature-->

    <!--Contact section-->
    <section id="contact" class="contact-section">
      <h2 style="text-align: center; margin-bottom: 16px">Contact Us</h2>
      <p style="text-align: center">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut
        perspiciatis unde omnis iste natus error sit voluptatem accusantium
        doloremque laudantium.
      </p>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="contact-content">
              <form action="/contact" method="POST">
                <div class="form-group">
                  <label for="name">Your Name:</label>
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    name="name"
                    placeholder="Enter your name"
                  />
                </div>
                <div class="form-group">
                  <label for="email">Email address:</label>
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    name="email"
                    placeholder="Enter your email"
                  />
                </div>
                <div class="form-group">
                  <label for="message">Message:</label>
                  <textarea
                    class="form-control"
                    id="message"
                    name="message"
                    rows="4"
                    placeholder="Enter your message"
                  ></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
          <div class="col-md-6">
            <div class="contact-social">
              <h3>Connect with Us</h3>
              <ul class="list-unstyled">
                <li>
                  <a href="#" target="_blank"
                    ><i class="social-icon fa-brands fa-facebook fa-xl"></i
                  ></a>
                </li>
                <li>
                  <a href="#" target="_blank"
                    ><i
                      class="social-icon fa-brands fa-square-x-twitter fa-xl"
                    ></i
                  ></a>
                </li>
                <li>
                  <a href="#" target="_blank"
                    ><i
                      class="social-icon fa-brands fa-square-instagram fa-xl"
                    ></i
                  ></a>
                </li>
                <li>
                  <a href="#" target="_blank"
                    ><i class="social-icon fa-solid fa-phone fa-xl"></i
                  ></a>
                </li>
                <li>
                  <a href="#" target="_blank"
                    ><i class="social-icon fa-solid fa-envelope fa-xl"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--end of contact-->

    <!--Back to top button-->
    <div
      id="backToTopBtn"
      class="btn btn-primary back-to-top-btn"
      onclick="scrollToTop()"
    >
      <i class="fas fa-arrow-up"></i>
    </div>
    <!--Footer part-->
    <%- include('./partials/footer.ejs') %>
    <!--end-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
