<!DOCTYPE html>
<html lang="en">
  <!--header section-->

  <!--end header-->
  <body>
    <!--navbar section-->

    <!--end-->

    <!--Home section-->
    <section id="home" class="home-section">
      <div class="dark-overlay"></div>

      <div class="home-content">
        <h1>Welcome to Our School Website</h1>
        <p>Discover the excellence in education and innovation.</p>

        <h2>School Motto</h2>
        <p>"Inspiring Minds, Shaping Futures"</p>
      </div>

      <div class="bottom-border"></div>
    </section>
    <!--End of home section-->

    <!--About section-->

    <!--End of about-->

    <!--Feature section-->

    <!--end of feature-->

    <!--Contact section-->

    <!--end of contact-->

    <!--Back to top button-->

    <!--Footer part-->

    <!--end-->
  </body>
</html>
