<!DOCTYPE html>
<html lang="en">
  <!--header section-->

  <!--end header-->
  <body>
    <!--navbar section-->

    <!--end-->

    <!--Home section-->

    <!--End of home section-->

    <!--About section-->

    <!--End of about-->

    <!--Feature section-->

    <!--end of feature-->

    <!--Contact section-->

    <!--end of contact-->

    <!--Back to top button-->

    <!--Footer part-->

    <!--end-->
  </body>
</html>
