<!DOCTYPE html>
<html lang="en">
  <!--header section-->

  <!--end header-->
  <body>
    <!--navbar section-->

    <!--end-->

    <!--Home section-->
    
    <!--End of home section-->

    <!--About section-->
    <section id="about" class="about-section">
      <h2 style="text-align: center; margin-bottom: 16px">About Us</h2>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="about-image">
              <img
                src="/images/student1.jpg"
                alt="About Us Image"
                class="img-fluid"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="about-content">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut
                perspiciatis unde omnis iste natus error sit voluptatem
                accusantium doloremque laudantium.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--End of about-->

    <!--Feature section-->

    <!--end of feature-->

    <!--Contact section-->

    <!--end of contact-->

    <!--Back to top button-->

    <!--Footer part-->

    <!--end-->
  </body>
</html>
